@import "./../../styles/variables.scss";

/*
.slide-container{    
    height: 400px;
    max-width: 800px;
    margin:100px;
    justify-content: center;
    align-items: center;
}
*/

.ekibimiz_3{    
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.ekip_text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.ekip_text h1{
    color: $dark2;
    justify-content: center;
}

.ekip_text p{
    color: $dark2;
    justify-content: center;
    align-items: center;
}

.each-slide > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    height: 400px;
    border-radius: 30px;
  }
  
  .each-slide span {

    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
  }

  @media screen and (max-width: 1200px){
    .ekibimiz_3{    
        justify-content: center;
        align-items: center;
        margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 100px;
    } 
  }

  @media screen and (max-width: 1000px){
    .ekibimiz_3{    
        justify-content: center;
        align-items: center;
        margin-right: 180px;
    margin-left: 180px;
    margin-bottom: 100px;
    } 
  }

  @media screen and (max-width: 850px){

    .ekip-container{
        margin: 0;
        padding: 0;
        background: $dark2;
    }
    .ekibimiz_3{   
        margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 0; 
        background: $dark2;
        color: $emphas;
    } 

    .ekip_text h1{
        color: $emphas;
    }
    
    .ekip_text p{
        color: $emphas;
    }


  }

  @media screen and (max-width: 650px){
    .ekibimiz_3{    
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
        
    } 
  }




/*
.slide-container{
    
    width: auto;
    height: 400px;
    max-width: 800px;
    margin:100px;
    justify-content: center;
}
.each-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-content{
    background-size:cover;                      
    background-repeat:   no-repeat;
    background-position: center; 
    min-height: 500px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
    margin-bottom: 100px;
}

@media screen and (max-width: 1050px){

}*/