@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap');

$Poppins: 'Poppins', sans-serif;

$dark: rgb(29, 29, 29);
$dark2: #213033;          //#222222    #1f2839    #50223c    #0c2924     #07080a    #213033      #f9fafb
$goldenrod: #747935;     //#F49200    #b69d74    #1c2340    #567470     #236b7d      #747935      #343573
$light:  #dbc2bb;        //#FFFFFF    #f5f5ef    #f0dac5    #f3eeed     #f1f0eb     #dbc2bb       #181047
$emphas:   #747935;     //#F49200    #b69d74    #1c2340    #567470     #236b7d      #747935      #343573
$white: #ffffff;

$bg: rgb(244, 244, 255);
$primary: rgb(162, 162, 246);

$spacing-md: 16px;
$spacing-lg: 32px;

$borderRadius: 12px;

$navbarHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}
