@import "./../../styles/variables.scss";

.lf__fields-container__field{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  margin: 1rem;
  padding: 1rem;
  max-width: 350px;
  max-height: 350px;

  border-top-left-radius: 15em 1em;
  border-bottom-right-radius: 15em 1em;
/* box-shadow */
 box-shadow: $emphas 0 0 10px;
  
}

.lf__fields-container__field-title{
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.lf__fields-container__field-title h1{
  font-weight: 800;
  font-size: 24px;

  letter-spacing: -0.04em;

  color: $dark2;
}

.lf__fields-container__field-title div{
  width: 55px;
  height: 6px;
  background: linear-gradient(43deg, $emphas 0%, $emphas 46%, $dark2 100%);
  box-shadow: 0 4px 4px $dark2;
  margin-bottom: 0.25rem;
}

.box-link{
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.lf__fields-container__field:hover{
  background: $dark2;
  color: $emphas;
  p{
    color: $light;
  }
  h1{
    color: $light;
  }
}

.lf__fields-container__field-text{
  flex: 2;
  max-width: 290px;
  display: flex;
}

.lf__fields-container__field-text p{
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;

  color: $dark2;
}

.lf__fields-container__field-image{
  flex: 2;
  max-width: 250px;
  display: flex;
}

.lf__fields-container__field-image img{
  
  width: 100%;
  
  height: auto;
  max-height: 100px;
}

@media screen and (max-width: 550px){
 .lf__fields-container__field-title h1{
     font-size: 16px;
     line-height: 20px;
 }

 .lf__fields-container__field-text p{
  font-size: 14px;
  line-height: 20px;
  }

  .lf__fields-container__field{
      margin: 1rem 0;
     
  }

  .lf__fields-container__field{
    background: $dark2;
    color: $emphas;
    p{
      color: $light;
    }
    h1{
      color: $light;
    }
  }

}