@import "./../styles/variables.scss";

.et-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 2rem;
}
.et-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.et-content p{
    font-size: 16px;
}

@media screen and (max-width: 650px) {
    .et-container{
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 5%;
        margin-top: 1rem;
    }
    .et-content{

        padding: 1rem;
    }
}