@import "./../styles/variables.scss";

.lf__about{
    display: flex;
    flex-direction: column;
    background: $dark2;
}

#about{
    background-color: $dark2;
}

#imge{
    width: 85px;
  height: 6px;
  background: linear-gradient(43deg, $dark2 0%, $emphas 46%, $dark2 100%);
  box-shadow: 0 4px 4px $dark2;
  margin-bottom: 0.25rem;
}


.section__padding {
    padding: 4rem 16rem;
  }

.lf__about-heading{
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.lf__about-heading h1{
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: $light;
}

.lf__about-fpart{
    
}

.lf__about-fpart h3{
    padding-bottom: 2rem;
    color: $light;
    font-size: 30px; 
    font-weight: 300;   
}

.lf__about-fpart p{
    padding-bottom: 2rem;
    color: $light;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;   
}

.contain-fpart{
    display: flex;
    flex-direction: row;
    

}

.article-entry-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

.home-blog-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;

}





@media screen and (max-width: 800px){

    .section__padding {
        padding: 4rem 6rem;
      }

    .contain-fpart{
        display: flex;
        flex-direction: column;
    
    }

    .lf__about-fpart{
        padding: 0.8rem;
    }

    .lf__about-heading h1{
        font-size: 40px; 
        font-weight: 300; 
    }

    .lf__about-fpart h3{
        padding-bottom: 2rem;
        color: $light;
        font-size: 23px; 
        font-weight: 200;   
    }
    
    .lf__about-fpart p{
        padding-bottom: 2rem;
        color: $light;
        font-size: 15px;
        line-height: 19px;
        font-weight: 200;   
    }
    
    

   }