
@import "./../styles/variables.scss";

.article-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    margin-top:4rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom:2rem;
}

.article-title div{
    width: 55px;
    height: 6px;
    background: linear-gradient(43deg, $emphas 0%, $emphas 46%, $dark2 100%);
    box-shadow: 0 4px 4px $dark2;
    margin-bottom: 0.25rem;
  }

.article-date p{
    font-size: 12px;
}

.article-writer{
    background: linear-gradient(43deg, $emphas 0%, $emphas 46%, $dark2 100%);
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    max-width: fit-content;
}

.article-writer p{
    font-size: 15px;
    font-weight: bold;
}


@media screen and (max-width: 800px){
    .article-text p{
        font-size: 14px;
    }

    .article-writer p{
        font-size: 13px;
        font-weight: bold;
    }
}