@import "./../../styles/variables.scss";

.lf__blog-container__blog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    padding: 1rem;
  }

  .lf__blog-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
  .lf__blog-container__blog-title{
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
  }
  
  .lf__blog-container__blog-title h1{
    font-weight: 800;
    font-size: 24px; 
    letter-spacing: -0.04em;
    color: $dark2;
  }
  
  .lf__blog-container__blog-title div{
    width: 55px;
    height: 6px;
    background: linear-gradient(43deg, $emphas 0%, $emphas 46%, $dark2 100%);
    box-shadow: 0 4px 4px $dark2;
    margin-bottom: 0.25rem;
  }
  
  .blog-link{
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .blog-link:hover{
    background: $dark2;
    color: $emphas;
    p{
      color: $emphas;
    }
    h1{
      color: $emphas;
    }
  }
  
  .lf__blog-container__blog-text{
    flex: 2;
    max-width: 390px;
    display: flex;
  }
  
  .lf__blog-container__blog-text p{
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: $dark2;
  }
  
  .lf__blog-container__blog-image{
    flex: 2;
    max-height: 290px;
    display: flex;
  }
  
  .lf__blog-container__blog-image img{
    
    max-width: 100px;
    width: auto;
    height: 100%;
  }
  
  @media screen and (max-width: 550px){
   .lf__blog-container__blog-title h1{
       font-size: 16px;
       line-height: 20px;
   }
  
   .lf__blog-container__blog-text p{
    font-size: 14px;
    line-height: 20px;
    }
  }